body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.imgheader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

nav a:hover {
  color: #3498db;
}

.cv-page {
  max-width: 800px;
  margin: 2cm auto;
  background-color: #fff;
  box-shadow: 0 0 10px #2c3e50;
  padding: 1.5cm;
}

header img {
  max-width: 20%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.two-column-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills,
.professions {
  width: 100%;
  margin-bottom: 20px;
}

footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  position: relative; 
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
